@model Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if(Model != null){
    <div class="container-fluid">
        <div class="product">
            <div class="productname">
                <p>@Model.name</p>
            </div>
            <div class="productbrand">
                <p>Brand: @Model.brand?.name</p>
            </div>
            <div class="productimage">
                <img src = "@ViewBag.ImageDataUrl" />
            </div>
            <div class="productprice">
                <p>Price: @Model.price $</p>
            </div>
        </div>
    </div>
    @*<p>Category: @Model.category?.name</p>
    <p>Rating: @Model.rating</p>*@
}