@model Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if(Model != null){
    <img src = "@ViewBag.ImageDataUrl" />
    <p>Name: @Model.name</p>
    <p>Brand: @Model.brand?.name</p>
    <p>Category: @Model.category?.name</p>
    <p>Price: @Model.price</p>
    <p>Rating: @Model.rating</p>
}