@model ViewModel


<div class="search">
    <form method="post" asp-controller="Search" asp-action="Index">
        <input type="radio" name="SearchModel" value="Article" checked /> Поиск по статьям <br />
        <input type="radio" name="SearchModel" value="Product" /> Поиск по товарам <br />
        <input type="radio" name="SearchModel" value="Brand" /> Поиск по брендам <br />
        <input type="radio" name="SearchModel" value="Author" /> Поиск по авторам <br />
        <br /><p style="font-size: 24px;"><b>Критерии</b></p><br />
        <input type="text" name="name" placeholder="Называние" />
        <input type="text" name="authorName" placeholder="Имя Автора" list="authorsList"/>
        <input type="text" name="words" placeholder="ключевые слова" />
        <input type="text" name="brandName" placeholder="Бренд" list="brandsList"/>
        <input type="text" name="categoryName" placeholder="Категория" list="categoriesList"/>
        <p>Рейтинг</p>
        <input type="number" name="ratingStart" min="0" max="5" placeholder="от" step="0.2" />
        <input type="number" name="ratingEnd" min="0" max="5" placeholder="до" step="0.2" />
        <p>Цена</p>
        <input type="number" name="priceStart" min="0" max="9999999999" placeholder="от" step="1000" />
        <input type="number" name="priceEnd" min="0" max="9999999999" placeholder="до" step="1000" />
        <input type="submit" value="enter" />
    </form>
</div>

<datalist id="authorsList">
    @foreach (var author in Model.Authors)
    {
        <option>@author.name</option>
    }
</datalist>
<datalist id="brandsList">
    @foreach (var brand in Model.Brands)
    {
        <option>@brand.name</option>
    }
</datalist>
<datalist id="categoriesList">
    @foreach (var category in Model.Categories)
    {
        <option>@category.name</option>
    }
</datalist>

<div class="result">
    @if (Model.ModelOfSearch == "Article")
    {
        foreach (var article in Model.Articles)
        {
            <div class="mini-article" style="border: medium">
                <h3>@article.name</h3>
                <i>@article.author.name</i> <br />
                <i>@article.date</i>
                <h4>@article.header</h4>
                <p>@article.text</p>
            </div>
        }
    }
    else if (Model.ModelOfSearch == "Product")
    {
        foreach (var product in Model.Products)
        {
            <div class="mini-product" style="border: medium">
                <h3>@product.name</h3>
                <b>@product.brand</b>
                <i>@product.category</i>
                <p>Цена: @product.price</p>
            </div>
        }
    }
    else if (Model.ModelOfSearch == "Brand")
    {
        foreach (var brand in Model.Brands)
        {
            <div class="mini-brand" style="border: medium">
                <h3>@brand.name</h3>
                <p>@brand.disc</p>
            </div>
        }
    }
    else if (Model.ModelOfSearch == "Author")
    {
        foreach (var author in Model.Authors)
        {
            <div class="mini-article" style="border: medium">
                <h3>@author.name</h3>
                <p>@author.rating</p>
            </div>
        }
    }
</div>
