@model Article
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
    <head>    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
@if(Model != null){
	<div class = "container-fluid">
		<div class = "article">
			<div class="row">
				<div class="col-6">
					<div class="namearticle">
					<p>@Model.name</p>
					<p>Header: @Model.header</p>
					</div>
				</div>
				<div class="col-6">
					<div class="articletime">
						<p>@Model.date</p>
					</div>
				</div>
			</div>
			<div class="articleauthor">
				<p>Author: @Model.author?.name</p>
			</div>
			<div class="articleimage">
				<img src = "@ViewBag.ImageDataUrl" />
			</div>
			<div class = "articletext">
				<p>@Model.text</p>
			</div>
			<div class= "articleproduct">
				@if(Model.productList?.Count != 0){
					<a asp-controller="Product" asp-action="Index" asp-route-id = "@Model.productList?[0].id">@Model.productList?[0].name</a>

				}
			</div>
		</div>
	</div>

<div class="rating-area">
	<form asp-action = "Assess" method = "post">
        <input type="radio" id="star-5" name="rating" value="5">
	<label for="star-5" title="Оценка «5»"></label>	
	<input  type="radio" id="star-4" name="rating" value="4">
	<label for="star-4" title="Оценка «4»"></label>    
	<input type="radio" id="star-3" name="rating" value="3">
	<label for="star-3" title="Оценка «3»"></label>  
	<input type="radio" id="star-2" name="rating" value="2">
	<label for="star-2" title="Оценка «2»"></label>    
	<input type="radio" id="star-1" name="rating" value="1">
	<label for="star-1" title="Оценка «1»"></label>
	<input asp-for="id" type="hidden" name = "articleId"/>
	<button type = "submit" class="btn btn-primary">Send an assessment</button>
    </form>
	@if(Model.AverageAssessment != 0){
		<p>Average rating: @Model.AverageAssessment</p>
	}
</div>
}
</html>