@model ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<div class="newdata new-author">
    <h3>Авторы</h3>
    <form method="post" asp-controller="Admin" asp-action="ActAuthor">
        <input name="name" placeholder="name" />
        <input name="rating" placeholder="rating" />
        <button type="submit">Submit</button>
    </form>
    @if (Model != null)
    {
        @foreach (var author in Model.Authors)
        {
            <div style="border: 0.5px solid black; width: 300px; padding: 15px; margin:10px">
                <p>@author.name, @author.rating: @author.id</p>
                <form method="post" asp-controller="Admin" asp-action="DeleteAuthor">
                    <button type="submit" name="id" value="@author.id"><p style="color: blue; text-decoration: underline">Удалить</p></button>
                </form>
            </div>
        }
    }
</div>

<div class="newdata new-article">
    <h3>Добавить статью</h3>
    <h4>можно здесь</h4>
    <form method="post" asp-controller="Admin" asp-action="ActArticle" enctype="multipart/form-data">
        <p>Название</p>
        <input type="text" name="name" required />
        <p>Заголовок</p>
        <input type="text" name="header" required />
        <p>Автор</p>
        <input type="text" name="authorName" required list="authorsList" />
        <datalist id="authorsList">
            @foreach (var author in Model.Authors)
            {
                <option>@author.name</option>
            }
        </datalist>
        <p>Ваша статья</p>
        <input type="text" name="text" required />
        <p>Изображение</p>
        <input type="file" id="ArticleImage"
               name="ArticleImage"
               multiple="multiple" />
        <input type="submit" value="enter" />

    </form>


    @if (Model != null)
    {
        @foreach (var article in Model.Articles)
        {
            <div style="border: 1px solid black; width: 300px; padding: 15px; margin: 10px">
                <h3>@article.name</h3>
                <i>@article.author.name</i> <br />
                <i>@article.date</i>
                <h4>@article.header</h4>
                <p>@article.text</p>
                <form method="post" asp-controller="Admin" asp-action="DeleteArticle">
                    <button type="submit" name="id" value="@article.id"><p style="color: blue; text-decoration: underline">Удалить</p></button>
                </form>
            </div>
        }
    }
</div>

<div class="newdata new-brand">
    <h3>Бренды</h3>
    <h4></h4>
    <form method="post" asp-cotroller="Home" asp-action="ActBrand">
        <input name="name" input placeholder="name" required />
        <p></p>
        <input type="text" input name="disc" placeholder="disc" required />
        <button type="submit">Нажми</button>
    </form>
    @if (Model != null)
    {
        @foreach (var brand in Model.Brands)
        {
        <div style="border: 1px solid black; width: 300px; padding: 15px; margin: 10px">
            <p>
                @brand.name
                @brand.disc
            </p>
                <form method="post" asp-controller="Admin" asp-action="DeleteBrand">
                    <button type="submit" name="id" value="@brand.id"><p style="color: blue; text-decoration: underline">Удалить</p></button>
                </form>
        </div>
         }
    }
</div>

<div class="newdata new-category">
    <h3>Категории</h3>
    <h4></h4>
    <form method="post" asp-cotroller="Home" asp-action="ActCategory">
        <input name="name" input placeholder="name" required />
        <p></p>
        <input type="text" input name="sizeTable" placeholder="sizeTable" required />
        <button type="submit">Нажми</button>
    </form>
    @if (Model != null)
    {
        @foreach (var category in Model.Categories)
        {
            <div style="border: 1px solid black; width: 300px; padding: 15px; margin: 10px">
                <p>
                    @category.name
                    @category.sizeTable
                </p>
                <form method="post" asp-controller="Admin" asp-action="DeleteCategory">
                    <button type="submit" name="id" value="@category.id"><p style="color: blue; text-decoration: underline">Удалить</p></button>
                </form>
            </div>
    }
    }
</div>
<div class="newdata new-product">
    <h3>Продукт</h3>
    <h4></h4>
    <form method="post" asp-controller="Admin" asp-action="ActProduct" enctype="multipart/form-data">
        <p>Название</p>
        <input type="text" name="name" required />
        <p>Цена</p>
        <input type="text" name="price" required />
        <p>Оценка</p>
        <input type="text" name="rating" required />
        <p>Ссылка</p>
        <input type="text" name="link" required />
        <p>Изображение</p>
        <input type="file" id="ProductImage"
               name="ProductImage"
               multiple="multiple" />


        <p>Категория</p>
        <input name="categoryName" required list="categoriesList" />
        <datalist id="categoriesList">
            @foreach (var category in Model.Categories)
            {
                <option>@category.name</option>
            }
        </datalist>

        <input name="brandName" required list="brandsList" />
        <datalist id="brandsList">
            @foreach (var brand in Model.Brands)
            {
                <option>@brand.name</option>
            }
        </datalist>

        <input type="submit" value="enter" />
    </form>

    @if (Model != null)
    {
        @foreach (var product in Model.Products)
        {
            <div style="border: 1px solid black; width: 300px; padding: 15px; margin: 10px">
                <h3>@product.name</h3><br />
                <p>Цена @product.price</p><br />
                <p>Рейтинг @product.rating</p><br />
                <b>
                    @product.brand.name
                    @product.category.name
                </b>
                <a asp-controller="Product" asp-action="Index" asp-route-id="@product.id.ToString()">product link</a>
                <form method="post" asp-controller="Admin" asp-action="DeleteProduct">
                    <button type="submit" name="id" value="@product.id"><p style="color: blue; text-decoration: underline">Удалить</p></button>
                </form>
            </div>
}
    }
</div>
