@model ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="newdata new-user">
         <h3>Регистрация</h3>
<form method="post" asp-controller="Home" asp-action="ActRegistration">

    <input Name="Name" placeholder="Name" required />
     <input Name="Sexgender" placeholder="Sexgender" required/>
    <input Name="Age" placeholder="Age" required/>
    <input Name="Phone" placeholder="Phone" required/>
    <input Name="Login" placeholder="Login" required/>
    <input Name="Password" placeholder="Password" required/>
    <button type="submit">Submit</button>
</form>
@if (Model != null)
{
    @foreach (var user in Model.Users)
    {
        <p>@user.Name 
           @user.Sexgender
           @user.Age
           @user.Phone
           @user.Login
           @user.Password</p>
    }
}
</div>