@model ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="newdata new-user">
         <h3>Регистрация</h3>
<form method="post" asp-controller="Home" asp-action="ActRegistration">

    <input Name="Name" placeholder="Name" />
     <input Name="Sexgender" placeholder="Sexgender" />
    <input Name="Age" placeholder="Age" />
    <input Name="Phone" placeholder="Phone" />
    <input Name="Login" placeholder="Login" />
    <input Name="Password" placeholder="Password" />
    <button type="submit">Submit</button>
</form>
@if (Model != null)
{
    @foreach (var user in Model.Users)
    {
        <p>@user.Name, @user.Sexgender, @user.Age, @user.Phone, @user.Login, @user.Password</p>
    }
}